.Header {
  width: 100%;
  height: 100px;
  color: rgb(2, 82, 2);
  background-color: rgb(255, 204, 0);
  padding: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.Title {
  font-size: larger;
}
.Menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.MenuItem {
  padding: 20px;
  margin: 20px;
}
