.Header {
  width: 100%;
  height: 100px;
  color: rgb(2, 82, 2);
  background-color: rgb(255, 204, 0);
  padding: 50px;
  align-items: center;
  display: flex;
  justify-content: space-around;
}
.Title {
  font-size: larger;
}
.Menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}
.MenuItem {
  padding: 20px;
  margin: 20px;
}

.Form {
  display: flex;
  margin: 20px;
  height: 600px;
  width: 400px;
  border: 1px solid lightgrey;
  border-radius: 5%;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}

.FormField {
  margin: 20px;
  padding: 10px;
}

.FormHeader {
  background-color: brown;
  font-size: larger;
  color: white;
  width: 100%;
  height: 100px;
  margin: 0;
  text-align: center;
}

.Button {
  width: 100px;
  height: 50px;
  margin: 50px;
  padding: 10px;
  background-color: olivedrab;
}
